# Ignore Vagrant files
.vagrant/
*.box

# Ignore Terraform files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore temporary files
.DS_Store
Thumbs.db
